body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}


table {
	border-collapse: collapse;
	border: 1px solid black;
  table-layout: auto;
  width: 180px;
}

th, td {
	border: 1px solid black;
}
